<footer class="bd-footer fixed-bottom bg-body-tertiary" style="max-height:10vh;">
    <ul class="nav justify-content-center" style="background-color:#719BBB">
        <li class="nav-item">
            <span class="nav-link"> Footer </span>
        </li>
    </ul>
</footer>