<footer class="navbar fixed-bottom bg-body-tertiary">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <span class="nav-link"> Footer </span>
        </li>
    </ul>
</footer>