<h1> Hola Chq.To </h1>
<% unless Current.user %>
    <%= link_to login_path do %>
        <button> Iniciar sesión </button>
    <% end %>
<% else %>
    <%= Current.user.username %>
    <%= link_to logout_path do %>
        <button> Cerrar sesión </button>
    <% end %>
<% end %>
<%= link_to 'Crear usuario', new_user_path %>