<%= link_to root_path do %>
    <h1> Chq.To </h1>
<% end %>
<% unless Current.user %>
    <%= link_to login_path do %>
        <button> Iniciar sesión </button>
    <% end %>
<% else %>
    <%= Current.user.username %>
    <%= link_to logout_path do %>
        <button> Cerrar sesión </button>
    <% end %>
<% end %>
