<h1>Editing link</h1>

<%= render 'links/formEdit', link:@link %>

<br>

<div class="d-grid gap-2 d-md-block d-md-flex justify-content-md-center p-2">
  <%= button_to "Show this link", link_path(@link.id), method: :get , :class=>"btn btn-light"%>
  
  <%= button_to "Back to links", links_path, method: :get , :class=>"btn btn-light"%>
</div>
