<div>
  <h1>Links</h1>
</div>

<div id="links">
  <% if @links.present? %>
    <table class="table table-hover"">
      <thead>
        <tr>
          <th>Link destino</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @links.each do |link| %>
          <tr>
            <td><%=link.url%></td>
            <td><%=link.name%></td>
            <td><%= link_to "Show this link", link_path(link.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @links %>
  <% else %>
    <span> No tenés links creados </span>
  <% end %>
</div>
