<%= form_with(url: slugPass_path(@link.slug), data: { turbo: false }) do |form| %>

    <div>
        <%= form.label :password, style: "display: block" %>
        <%= form.text_field :password %>
    </div>

    <div>
        <%= submit_tag 'Ingresar'  %>
    </div>
<% end %>
  