<div>
  <h1> Ingresa la contraseña para acceder al recurso </h1>
</div>
<div>
  <%= form_with(url: slug_pass_path(@link.slug), data: { turbo: false }) do |form| %>

    <div class="row justify-content-center p-2">
        <div class="col-auto">
        <%= form.label :password, :class=>"col-form-label" %>
        </div>
        <div class="col-auto">
        <%= form.password_field :password, :class=>"form-control"%>
        </div>
    </div>

    <div>
        <%= submit_tag 'Ingresar', :class=>"btn btn-light" %>
    </div>
  <% end %>
</div>

  